header {
	background:#000000;
	color:#ffffff;
}

body {
	background-image: url("../images/futbol.jpg");
	background-attachment: fixed;
	background-position: center center;
}

.asterisco {
	color: #B93434;
}

.help-danger {
	color: #A94442;
}

.help-success {
	color: #3c763d;
}

.formulario {
	width: 30%;
}

.alerta {
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  line-height: 34px;
}
